/*Header and Footer */
.header_content,
.footer_content {
  max-width: 75vw;
  display: flex;
}

/* Header */

.header_content {
  align-items: center;
}

.nav-header {
  margin-left: auto;
  font-size: 1.55em;
}

.logo {
  margin-top: 20px;
}
.logo:hover {
  transform: scale(1.05);
}
.nav-header li {
  display: inline-block;
  margin-left: auto;
  margin-right: 30px;
}

/** Header - Hamburger Menu **/
.hamburger-menu {
  display: none;
  font-size: 1.5em;
  position: absolute;
  top: 101px;
  right: 12vw;
  z-index: 2000;
}

.hamburger-menu ul {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}

.hamburger-menu li {
  transition: 0.5s;
}

.hamburger-menu li:hover {
  background-color: #197559;
}
.hamburger-menu .active,
.hamburger-menu .active:hover {
  background-color: #1c943e;
}
.hamburger-menu li a {
  display: block;
  width: 100%;
  height: 100%;
  padding: 10px;
}

.fa-bars {
  margin-top: 9px;
  transition: 0.5s;
}
#hamburger-menu {
  display: none;
}
#hamburger-menu:checked ~ nav {
  display: block;
}

.fa-bars:hover {
  transform: scale(1.3);
  cursor: pointer;
}

/* Subheader */
.subheader {
  background: linear-gradient(#15bb20, #516e30);
  height: 55px;
}

.subheader_nav_yellow {
  background: linear-gradient(#cfff09, #516e30);
}

.subheader_nav_purple {
  background: linear-gradient(#8083bf, #404260);
}

.subheader_nav_blue {
  background: linear-gradient(#0477bf, #023c60);
}
.subheader h1,
.subheader_nav div {
  max-width: 1150px;
  margin: 0px auto 0px auto;
}

.subheader_nav div {
  display: flex;
  flex-wrap: wrap;
}
.subheader_nav h1 {
  margin: 0;
}
.subheader_nav li {
  display: inline-block;
  margin-right: 40px;
  font-size: 1.3em;
  margin-top: 10px;
}
.subheader_nav ul {
  margin: auto;
  padding: 0;
}

/* Footer */
.footer_content {
  justify-content: space-around;
}

.footer_content p {
  margin: 5px 0px;
}

.footer_content div {
  margin-bottom: 20px;
  padding: 5px;
}

.footer_content h2,
.homepage .footer_content h3 {
  margin-bottom: 15px;
}

.hours {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.hours div {
  margin: -2px;
}

.hours h2,
.homepage .hours h3,
.hours_hours,
.follow {
  text-align: center;
}

.hours h2,
.homepage .hours h3 {
  grid-column: -1/1;
  margin-bottom: 8px;
  margin-top: 22px;
}

.follow a {
  padding: 2px;
}

/** Facebook, Twitter and Instagram logo **/

.fa-twitter-square,
.fa-facebook-square,
.fa-instagram {
  background-repeat: no-repeat;
}

.fa-twitter-square,
.fa-facebook-square {
  background-position: 65% 0;
  background-image: linear-gradient(transparent 20%, #ffffff 20%, #ffffff 92%, transparent 92%);
}

.fa-twitter-square {
  color: #1da1f2;
  background-size: 75%;
}

.fa-facebook-square {
  color: #4267b2;
  background-size: 55%;
}
.fa-instagram {
  color: #ffffff;
  background-image: linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
  background-size: 90% 80%;
  border-radius: 30%;
  background-position: 90% 50%;
}

.fa-twitter-square,
.fa-instagram,
.fa-facebook-square,
.logo {
  transition: 0.5s;
}

/* Specifict overwrites when viewport changes and other isolated scripts*/

@media only screen and (max-width: 1200px) {
  .header_content,
  .subheader h1,
  .subheader_nav div,
  .footer_content {
    max-width: 90vw;
  }

  .hamburger-menu {
    right: 5vw;
  }
}

/** Smaller desktops, tablets **/

@media only screen and (max-width: 1000px) {
  .nav-header ul {
    display: none;
  }
  .footer_content {
    flex-wrap: wrap;
  }
  .hours {
    padding-top: -15px;
  }
  .location {
    text-align: center;
  }
}

/** Smaller tablets and large mobile phones 650px **/
@media only screen and (max-width: 650px) {
  .subheader_nav li {
    margin-right: 5px;
    font-size: 1em;
  }
}

/** Mobile devices 500px **/
@media only screen and (max-width: 500px) {
  .subheader div {
    margin-right: 0px;
  }
  .subheader_nav div {
    max-width: 95vw;
  }
  .subheader h1 {
    margin-top: 5px;
  }
  .logo img {
    width: 200px;
    height: auto;
  }
  .hamburger-menu {
    top: 71px;
    right: 4.5vw;
  }
  .hamburger-menu ul {
    font-size: 20px;
  }
}
